.aboutus-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}

.aboutus-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.aboutus-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-maps {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutus-maps iframe {
    width: 100%;
    height: 400px;
}

.aboutus-map1 {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}

.aboutus-contact i {
    padding: 0.5rem;
    border: 3px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.aboutus-map1 p,
.aboutus-map2 p {
    font-size: 2.2rem;
    font-weight: bold;
}

.aboutus-map2 {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}

.aboutus-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.aboutus-contact a,
.aboutus-contact a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.aboutus-social {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
}

.aboutus-social-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.aboutus-social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5rem;
}

.aboutus-social-icons i {
    padding: 0.5rem;
    border: 3px solid #ccc;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.aboutus-social-icons a p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    display: inline-block;
}

.aboutus-social-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .aboutus-maps {
        flex-direction: column;
    }

    .aboutus-map1 {
        width: 100%;
        height: 100%;
        padding: 25px;
        border: none;
    }

    .aboutus-map2 {
        width: 100%;
        height: 100%;
        padding: 25px;
        border: none;
    }

    .aboutus-contact {
        width: 100%;
    }

    .aboutus-contact i {
        width: 60px;
        height: 60px;
    }
}