.home-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    visibility: hidden;
}

.home-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    visibility: hidden;
}

.left-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    visibility: hidden;
}

.right-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.home-wrapper.showed > .right-wrapper {
    animation: slideInRight 1s forwards;
    animation-delay: 0.5s;
}

.home-wrapper2.showed > .right-wrapper {
    animation: slideInRight 1s forwards;
    animation-delay: 0.5s;
}

.home-wrapper.showed > .left-wrapper {
    animation: slideInLeft 1s forwards;
    animation-delay: 0.5s;
}

.home-wrapper2.showed > .left-wrapper {
    animation: slideInLeft 1s forwards;
    animation-delay: 0.5s;
}

.home-background {
    background: rgb(4, 55, 242);
    background: -moz-linear-gradient(180deg, rgba(4, 55, 242, 0.8) 0%, rgba(209, 203, 193, 1) 80%, rgba(255, 193, 7, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(4, 55, 242, 0.8) 0%, rgba(209, 203, 193, 1) 80%, rgba(255, 193, 7, 1) 100%);
    background: linear-gradient(180deg, rgba(4, 55, 242, 0.8) 0%, rgba(209, 203, 193, 1) 80%, rgba(255, 193, 7, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0437f2", endColorstr="#ffc107", GradientType=1);
}

.logo-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    -webkit-animation: slideInDown ease-in-out 1s;
    animation: slideInDown ease-in-out 1s;
}

.seperator {
    display: none;
}

.logo-dropdown-container {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 9px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
}

.logo-dropdown {
    position: relative;
}

.logo-dropdown p {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-left: 0.5rem;
}

.logo-dropdown span {
    position: absolute;
    bottom: 0;
    top: 100%;
    background-color: black;
}

.logo-dropdown span a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #000;
    border-radius: 10px;
}

.logo-dropdown img {
    width: 100px;
    height: 79.74px;
}

@media (max-width: 969px) {
    .home-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .home-wrapper2 {
        flex-direction: column;
        justify-content: center;
    }

    .left-wrapper {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .right-wrapper {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .seperator {
        display: block;
        content: "";
        padding-top: 100px;
    }

    .logo-dropdown a {
        font-size: 2rem;
    }

    .logo-dropdown img {
        width: 80px;
        height: 63.79px;
    }
}

@media (max-width: 480px) {
    .logo-dropdown-container a p {
        font-size: 2.4rem;
    }
}

@media (max-width: 360px) {
    .logo-dropdown-container a p {
        font-size: 2rem;
    }
}

@-webkit-keyframes slideInDown {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0rem);
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0rem);
    }
}